<app-nav></app-nav>
<router-outlet></router-outlet>

<!--
<div id="main">
  <h2>Sidenav Push Example</h2>
  <p>Click on the element below to open the side navigation menu, and push this content to the right.</p>
  <span style="font-size:30px;cursor:pointer" (click)="changeNav()">&#9776; open</span>
</div>


<div id="mySidenav" class="sidenav" [ngStyle]="{width: navwidth}">
  <a href="javascript:void(0)" class="closebtn" (click)="changeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>-->