<div class="form-group center">
  <label for="firstName">First Name</label>
<input type="text" id="firstName" #firstName class="form-control">


<label for="lastName">Last Name</label>
<input type="text" id="lastName" #lastName class="form-control">

<label for="address">Address</label>
<input type="text" id="address" #address class="form-control">

<label for="phone">Phone</label>
<input type="text" id="phone" #phone class="form-control">


<button (click)="onSubmit(firstName.value, lastName.value, address.value, phone.value)" 
    class="btn btn-default">Submit</button>
<br>
Id Created = {{newCustomerID}}
<hr>
<button (click)="onGetData()" class="btn btn-default">Get Customers</button>
<ul>
  <li *ngFor="let customer of customers">{{customer.lastName}}, {{customer.firstName}}</li>
</ul>
<hr>

Get customers Async

<p>{{asyncCustomers$ | async | json }}</p>


<ul>
  <li *ngFor="let customer of asyncCustomers$ | async">{{customer.lastName}}, {{customer.firstName}}</li>
</ul>
<hr>
<my-wiki></my-wiki>

</div>
